h1{   
     margin: auto;
     width: 50%;
     border: 3px solid green;
     padding: 10px;
     align-content: center
  }

body {	
        width: 600px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
        border: 5px solid gray;
     }
